@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: Roboto, serif;
    /* min-height: 100vh; */
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;

}

.hero {
    background-color: #1F2937;
    margin: 0;
    border: 0;
    padding: 14px 200px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9fAf8;
    flex-shrink: 0;
}

.right-links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}